
#nav-bar {
	width: 70%;
	height: 100px;
	left: 15%;
	position: relative;
	background-image: url(wasatch_logo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#nav-bar > h1 {
	position: absolute;
}

#nav-list > li {
	display: inline-block;
	margin: 0 auto;
	position: relative;
	left: 72%;
	line-height: 90px;
}

#nav-list > li > a {
	font-size: 1.5em;
	color: ghostwhite;
}

.sidebar-left{
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 15%;
	background-image: url(images/glen.jpg);
	background-repeat: no-repeat;
  background-size: cover;
}

.sidebar-right{
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	width: 15%;
  background-image: url(images/glen.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transform: scaleX(-1);
        filter: FlipH;
}

.body-wrapper {
	margin-left: 15%;
	margin-right: 15%;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 100px;
}